<p> <%= @choice %> </p>
<p> <a href="/">Let's make some more art</a></p>
<p><img src="brush.jpg"></p>
<br />
<br />
<br />
<p class="about"> <a href="https://www.instagram.com/lillypiri/">a @lillypiri invention</a></p>
