<!DOCTYPE html>
<html>
  <head>
    <title>Art Randomiser</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>What will you create?</h1>
    <%= yield %>
  </body>
</html>
