<!DOCTYPE html>
<html>
  <head>
    <title>YOUR MASTERPIECE AWAITS ITS CREATION</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport' />
  </head>
  <body>
    <h1>.:YOUR MASTERPIECE:.</h1>
    <p><b>CREATE THE FOLLOWING ARTWORK, FOR YOUR CHANCE AT FAME, FORTUNE, AND LOVE.</b></p>
    <p><img src="alone.jpg"></p>
    <%= yield %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-17670962-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
