<!DOCTYPE html>
<html>
  <head>
    <title>Art Randomiser</title>
    <meta content='width=device-width, minimum-scale=1.0, maximum-scale=1.0' name='viewport' />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="artwork">
        <img src="/painting.jpg" />
    </div>
    <%= yield %>
    <div class="footer">
        Brought to you by <a href="https://instagram.com/lillypiri">Lilly Piri</a>
    </div>
  </body>
</html>
