<!DOCTYPE html>
<html>
  <head>
    <title>Art Randomiser</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>.:YOUR MASTERPIECE:.</h1>
    <p><B>CREATE THE FOLLOWING ARTWORK, FOR YOUR CHANCE AT FAME, FORTUNE, AND LOVE.</b></p>
    <%= yield %>
  </body>
</html>
